#sign_up_modal_button {
    margin: 10px;
    border: #f1f1f1 1px solid;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}
#sign_up_modal_button:hover {
    background-color: rgb(229,31,92);
    color: white;
    border: rgb(229,31,92) solid 1px;
}

.signup_form_container {
    border-radius: 20px;
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup_title {
    margin: auto;
    width: fit-content;
}

.signup_form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    border-radius: 12px;
    border: 2px black;
    background-color: #f1f1f1;
    font-size: 15px;
    padding: 15px;
    width: 300px;
}

.signup_button {
    cursor: pointer;
    background-color: rgb(229,31,92);
    color: azure;
    height: 50px;
    width: 95%;
    border-radius: 20px;
    border: rgb(229,31,92);
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    margin: 10px;
}

.error_messages {
    color: #B73E3E
}
