* {
    color: rgb(34, 34,34);
}

#spot_details_container {
    display: block;
    margin:auto;
    width: 70%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

.spot_header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.spot_and_reviews {
    width: 100%;
    margin: auto;
    margin-top: 25px;
}

#spot_images_container {
    width: 100%;
    height: 412px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid black; */
}

#main_image_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* margin: 3px; */
}

#image0 {
    height: 100%;
    width: 100%;
    border-radius: 12px 0px 0px 12px;
    object-fit: cover;
}

.side_images_container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.other_images_container {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    /* margin: 5px;
    display: flex;
    flex-direction: column; */
}


#image1 {
    height: 100%;
    width: 100%;
    /* padding-left: 2px; */
    margin-left: 3px;
    /* margin-bottom: 2px;
    margin-left: 2px; */
    border-radius: 0px 0px 0px 0px;
    object-fit: fill;
}

#image2 {
    margin-left: 3px;
    margin-top: 1px;
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    /* padding-top: 2px;
    padding-left: 2px; */
    object-fit: fill;

}
#image3 {
    height: 100%;
    width: 100%;
    margin-left: 5px;
    border-radius: 0px 12px 0px 0px;
}
#image4 {
    height: 100%;
    margin-top: 1px;
    width: 100%;
    margin-left: 5px;
    border-radius: 0px 0px 12px 0px;
}

.owner_review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .owner_name {

} */

.price_pannel {
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    /* display: inline-flex; */
    margin-top: 20px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.price_pannel div {
    padding: 5px;
}

#room_price {
    font-weight: bold;
    font-size: large;
}
