.signup_form_container {
    border: solid 2px rgb(198,198,198);
    border-radius: 20px;
    width: fit-content;
    margin: auto;
    display: flex;
}

.signup_form {
    padding: 20px;
}

.signup_button {
    cursor: pointer;
    background-color: rgb(229,31,92);
    color: azure;
    height: 50px;
    border-radius: 20px;
    border: rgb(229,31,92);
    align-items: center;
}

div {
    margin: 30px;
}
