
#nav_home {
    text-decoration: none;
}

#airbvb_logo {
    display: flex;
    align-items: center;
}

#logo_image {
    width: 40px;
    height: 40px;
}

#logo_text {
    color: rgb(255, 90, 95);
    font-weight: 800;
    font-size: 30px;
    font-family: sans-serif;
}
#nav-ctn-outer {
    width: 100%;
    border-bottom: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 3%) 0px 6px 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #ffffff;
}

.nav_link_bar {
    max-width: 90%;
    /* max-width: 1120px; */
    /* width: 85%; */
    display: flex;
    flex-direction: column;
    margin: auto;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #ffffff; */
}

.nav_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 96%; */
}

.button_container {
    position: relative;
    border: none;
    display: flex;
    align-items: center;
}

#user_circle {
    background-color: transparent;
    border: #DDDDDD 1px solid;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px, 5px, 5px, 12px;
}
 #user_circle:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 5px;
}

.fa-circle-user  {
    font-size: 25px;
    display: inline-block;
    color: rgb(73,89,102);
}
.fa-bars {
    display: inline-block;
    font-size: 25px;
    margin: 4px;
    color: rgb(73,89,102);

}

li {
    list-style: none;
}

.profile-dropdown {
    color: #716F81;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    list-style: none;
    border-radius: 12px;
    position: absolute;
    right: 70px;
    top: 60px;
    z-index: 2;
    padding: 0;
}

.show_menu_element {
    cursor: pointer;
    font-weight: 400;
    transition: font-weight 0.5s;
}
.nav-menu-links-ctn{
    padding: 20px;
}

.nav-menu-links-ctn:hover {
    background-color: rgb(247, 247, 247);
}

#menu-bottom-ctn {
    border-top: 1px solid #716F81;
}

#log-out-btn-ctn:hover {
    border-radius: 0 0 12px 12px;
}
.nav_listing_reviews {
    text-decoration: none;
    color: inherit;
}
