span {
    margin: 10px;
}

#nav_home {
    text-decoration: none;
}

#user_circle {
    background-color: white;
    border: white;
    cursor: pointer;
}

.fa-circle-user {
    font-size: 30px;
}

.fa-circle-user:hover {
    color: rgb(229,31,92);
}

li {
    list-style: none;
}

.profile-dropdown {
    color: #716F81;
    list-style: none;
}

.show_menu_element {
    margin: 20px;
}

#log_out_button {
    cursor: pointer;
    background-color: #716F81;
    color: azure;
    height: 50px;
    border-radius: 20px;
    border: #716F81;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
}

#log_out_button:hover {
    background-color: rgb(229,31,92);
    color: white;
}
